

#game {
    position: relative;
    width: 400px; /* Size of the container */
    height: 400px;
}

/* Styling the buttons */
#game .btn {
    position: absolute;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Shadow effect */
    cursor: pointer;
    padding: 10px;
}

#game .btn img {
    width: 60%; /* Adjust image size */
    height: auto;
}

/* Positioning each button in a triangle */
#rock {
    z-index: 2;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    border: 10px solid #0074B6;
}

#scissors {
    z-index: 2;
    bottom: 40%;
    left: 10%;
    transform: translateY(50%);
    border: 5px solid #FFA943;
}

#paper {
    z-index: 2;
    bottom: 40%;
    right: 10%;
    transform: translateY(50%);
    border: 10px solid #BD00FF;
}

/* Connecting lines */
#line1, #line2, #line3 {
    z-index: 1;
    position: absolute;
    background-color: #000; /* Line color */
    width: 4px; /* Line thickness */
    transform-origin: top left;
}

/* Line from Rock to Scissors */
#line1 {
    top: 50px;
    left: 50%;
    height: 200px; 
    width: 30px;/* Adjust based on positions */
    transform: rotate(30deg);
}

/* Line from Rock to Paper */
#line2 {
    
    top: 50px;
    left: 50%;
    height: 200px;
    width: 30px;
    transform: rotate(-30deg);
}

/* Line from Scissors to Paper */
#line3 {
    top: 230px;
    left: 20%;
    width: 60%; /* Horizontal line */
    height: 30px;
    
    
}
